html{
  background:orange;
}
.nav{

  position: fixed;
  width: 280px;
  height: 100%;
  padding: 12px;
  padding-top: 60px;
  background-image: radial-gradient(white,rgb(255, 177, 31));
  display: flex;
  flex-direction: column;
}
a{
  padding: 5px;
  margin: auto;
  width: 220px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.close{
  font-size: 18px;
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.logo{
    max-width: 240px;
    min-width: 140px;
    width: 50%;
    text-align: center;
  }
.brand{
  height: auto;
  overflow: auto;
  text-align: center;
   }
.homeicon,.bowlicon{
    padding: 10px;
    width: auto;
    background: transparent;
    border: none;
    float: right;
  }
  .homeicon{
    float: left;
  }
  .bowlicon{
    float: inline-end;
  }
  .buttonimg{
    width: 30px;
  } 
  h3{
    text-align: center;
  }
  .menu{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    background:rgb(255, 233, 193);
    box-shadow: 15px 15px 15px rgb(26, 26, 26);
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
  }
  .button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-width: 18px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-image: radial-gradient(rgb(252, 214, 145),orange);
  }
.item{
    width: 100px;
    height: 100px;
  }
  .itembox{
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background: orange;
    background-image:linear-gradient(orange,rgb(255, 213, 134));
    min-width: 150px;
    max-width: fit-content;
  }
  .head{
    width: fit-content;
    background: rgb(255, 123, 0);
    border-radius: 12px;
    padding: 10px;
  }
  .js{
    background: white;
    padding: 20px;
  }
  .redline{
    margin: 3px;
  }
  footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(204, 204, 204));
    padding: 3%;
  }
  h1,h6{
    text-align: center;
  }
  .c{
    font-size: 20px;
    width: 45px;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
