.logo{
    max-width: 260px;
    width: 70%;
    text-align: center;
  }
.brand{
  height: auto;
  text-align: center;
  background-image: linear-gradient(white,rgb(255, 184, 52));
   }
.homeicon,.bowlicon{
    padding: 10px;
    width: auto;
    background: transparent;
    border: none;
    float: right;
  }
  .homeicon{
    float: left;
  }
  .bowlicon{
    float:right;
  }
  .buttonimg{
    width: 40px;
  } 
  .menu{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    background: #f1efb9;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
  }
  .button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-width: 18px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-image: radial-gradient(rgb(252, 214, 145),orange);
  }
.item{
    width: 100px;
    height: 100px;
  }
  .itembox{
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background: orange;
    background-image:linear-gradient(orange,rgb(255, 255, 130));
    max-width: fit-content;
  }
  .head{
    width: fit-content;
    background: rgb(255, 123, 0);
    border-radius: 12px;
    padding: 10px;
  }
  .js{
    background: white;
    padding: 5px;
  }
  .redline{
    margin: 1.5px;
  }
  footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(83, 83, 83));
    padding: 3%;
  }
  h1,h6{
    text-align: center;
  }
  .c{
    font-size: 20px;
    width: 45px;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
