*{
  color: inherit;
  text-decoration:none;
}
html{
  background:orange;
}
.nav{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 12px;
  padding-top: 60px;
  background-image: radial-gradient(white,rgb(255, 177, 31));
  display: flex;
  flex-direction: column;
}
h1,h3{
font-weight: normal;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.loginform,.signupform,.bowl,.wallet,.Funds{
  visibility: hidden;
  position: fixed;
  z-index: 1;
  height: min-content;
  margin: 10%;
  margin-top: 5vh;
  width: 80%;
}
form{ 
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 320px;
  background-image: radial-gradient(white,rgb(255, 213, 135));
  border: 5px solid orange;
  border-radius: 30px;
}
.form{
  margin: auto;
  margin-bottom: 12px;
  padding: 2px;
  width: 75%;
  outline: none;
  background: transparent;
  border: 0.01px solid black;
  border-radius: 5px;
  display: block;
} 
a{
  padding: 5px;
  margin: auto;
  width: 220px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.billtable,th,p{
  padding: 4px;
  text-align: center;
  font-size: auto;
}
.paybutton,.funds{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  background-size: contain;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
  font-size: large;
  width: 120px;
  background: rgb(109, 255, 80);
}
.bowl{
margin: 10%;
width: 80%;
padding: 10px;
border-radius: 20px;
background-image: radial-gradient(white,rgb(255, 213, 135));
border: 5px solid orange;
}
.bill{
float: left;
padding: 10px;
width: 45px;
height: 45px;
}
.billbox{
display: block;
margin: auto;
margin-top: 15px;
margin-bottom: 15px;
border-radius: 15px;
padding: 15px;
max-width: 340px;
background-image: radial-gradient(white,rgb(255, 213, 135));
}
.billtable{
margin-top: 5px;
}
.closebtn{
  width: fit-content;
  font-size: 18px;
  background: transparent;
  border: none;
  float: inline-end;
}
.navbutton{
  font-size: 12px;
  width: 80px;
  text-align: center;
  position: relative;
  background: transparent;
  border: 0.5px solid black;
  border-radius: 5px;
}
.logo{
    max-width: 300px;
    min-width: 140px;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
.brand{
  height: auto;
  overflow: auto;
  text-align: center;
   }
.homeicon,.bowlicon,.walleticon{
    padding: 5px;
    height: 40px;
    background: transparent;
    border: none;
    float: right;
  }
  .homeicon{
    float: left;
  }
  .bowlicon{
    float: right;
  }
  .buttonimg{
    height: 40px;
  } 
  h3{
    text-align: center;
  }
  .box{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    background:rgb(255, 203, 112);
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
  }
  .button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-width: 18px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-image: radial-gradient(rgb(252, 214, 145),orange);
  }
.item{
    width: 100px;
    height: 100px;
  }
  .inbox{
    margin: 15px;
    padding: 15px;
    border: 0.8px solid orange;
    border-radius: 15px;
    background: orange;
    background-image:linear-gradient(orange,rgb(255, 213, 134));
    min-width: 150px;
    max-width: max-content;
  }
  .head{
    width: max-content;
    background: rgb(255, 123, 0);
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    padding: 10px;
  }
  .redline{
    color: red;
    margin: 3px;
  }
  footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(136, 136, 136));
    padding: 15px;
    padding-top: 30px;
  }
  h1,h6{
    text-align: center;
  }
  .c{
    font-size: 20px;
    height: 20px;
    padding-right: 8px;
  }
  .footer{
    background: transparent;
    margin: auto;
  }
  table{
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 50px;
    min-width: 150px;
    min-height: 200px;
    background-image: radial-gradient(rgb(235, 235, 235),rgb(141, 141, 141));
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 5px;
  }
  .connect{
    display: flex;
    overflow: auto;
  }
  .ppp{
    width: 100px;
    border-radius: 50px;
  }