*{
    border-radius: 10px;
    scrollbar-width: none;
    text-decoration: none;
}
body{
    min-height: 100vh;
    margin: 0px;
}
.js{
    padding: 10px 0px 10px 0px;
}
.redline{
    border-radius: 0px;
    margin: 2px 0px 2px 0px;
}
h1,h2,h3,h4,p{
    padding: 0px 0px 0px 10px ;
    margin: 5px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
img{
    display: flex;
    margin: auto;
}
.center{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60vh;
    bottom: 20vh;
    top: 20vh;
}
.left{
    float: left;
}
.right{
    float: right;
}
.logo{
    height: 30px;
    width: auto;
    padding: 10px 0px 10px 0px;
    margin: auto;
}
.column{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.close{
    width: min-content;
    padding: 5px;
    float: inline-end;
}
.nav{
    font-size: 20px;
    z-index: 1;
    background: white;
    max-width: 320px;
    width: 70%;
    height: 100vh;
    padding: 10px;
    top: 0px;
    bottom: auto;
    position: fixed;
    visibility: hidden;
}
.navlink{
    padding: 10px;
}
form{
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 5px 2px lightgray;
    padding: 10px;
    margin: auto;
    width: 80%;
    max-width: 360px;
}
.form{
    height: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    margin: 5px;
}
.decision{
    padding: 10px;
    margin: auto;
}
a{
    display: flex;
    margin: auto;
}
.pic{
    max-width: 120px;
    margin: auto;
}
.icon{
    border-radius: 0px;
    max-width: 30px;
    max-height: 30px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar{
    background: white;
    border-radius: 0px;
    display: flex;
    margin: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: auto;
}
.hcard{  
    visibility: hidden;
    width: 80%;
    height: 50vh;
    border: 1px solid white;
    background-image: linear-gradient(rgb(255, 220, 155),#ff9100);
    box-shadow: inset 0px 0px 3px 2px gray;
    padding: 5%;
    margin: 5%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    position: fixed;
}
.hpic{
    width: 120px;
    height: 120px;
}
.ibox{
    display: flex;
    overflow: auto;
}
.icard{
    min-width: 130px;
    max-width: 130px;
    max-height: 240px;
    border: 1px solid white;
    background-image: linear-gradient(rgb(255, 229, 180),#ff9100);
    box-shadow: inset 0px 0px 4px 1px black;
    padding: 10px;
    margin: 15px;
}
.ipic{
    width: 100px;
    height: 100px;
}
.ivnv{
    max-width: 15px;
    float: right;
    margin: 0px;
}
.iname{
    height: 42px;
}
.iname,.iprice,.icount{
    display: flex;
    padding: 5px; 
    margin: auto;
    text-align: center;
    width: fit-content;
}
.icount{
    width: auto;
}
.bowl{
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 5px 2px lightgray;
    padding: 10px;
    margin: auto;
    width: 80%;
    max-width: 360px;
}
table{
    width: 100%;
}