*{
    border-radius: 10px;
    scrollbar-width: none;
    text-decoration: none;
}
body{
    min-height: 100vh;
    margin: 0px;
}
img{
    display: flex;
    margin: auto;
}
.center{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60vh;
    bottom: 20vh;
    top: 20vh;
}
.left{
    float: left;
}
.right{
    float: right;
}
.logo{
    height: 30px;
    width: auto;
    padding: 10px 0px 10px 0px;
    margin: auto;
}
.column{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.close{
    width: min-content;
    padding: 5px;
    float: inline-end;
}
.nav{
    font-size: 20px;
    z-index: 1;
    background: white;
    max-width: 320px;
    width: 70%;
    height: 100vh;
    padding: 10px;
    top: 0px;
    position: fixed;
    visibility: hidden;
}
.navlink{
    padding: 10px;
}
form{
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 5px 2px lightgray;
    padding: 10px;
    margin: auto;
    width: 80%;
    max-width: 360px;
}
.form{
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    margin: 5px;
}
a{
    display: flex;
    margin: auto;
}
.pic{
    max-width: 120px;
    margin: auto;
}
.icon{
    border-radius: 0px;
    max-width: 30px;
    max-height: 30px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar{
    background: white;
    border-radius: 0px;
    display: flex;
    margin: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: auto;
}
.ibox{
    display: flex;
    overflow: auto;
}
.icard{
    min-width: 150px;
    background-image: linear-gradient(rgb(255, 220, 155),orange);
    box-shadow: inset 0px 0px 5px 2px whitesmoke;
    padding: 15px;
    margin: 15px;
}
.ipic{
    max-width: 100px;
    max-height: 100px;
}
.ivnv{
    max-width: 15px;
    float: right;
    margin: 0px;
}